* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*Common Button*/
.common-bot {
    background-color: #1D4ED8;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}


/*Start Nav Style*/
header {
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    list-style: none;
    align-items: center;
    text-align: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #575757;
    list-style: none;
    font-size: 20px;
}


/* Start Hero Section */

.hero-parent {
    background-image: url("./image/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-content {
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

.hero-content h2 {
    font-weight: bold;
    font-size: 80PX;
}

.hero-content p {
    color: #cac5c5;
    padding: 10px 0;
}

.hero-bot {
    margin-top: 350px;
    padding: 17px 40px;
    border-radius: 10px;
    font-size: 22px;
    border: 0px solid;
}