* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/*Common Button*/
.common-bot {
    background-color: #1D4ED8;
    color: white;
    padding: 10px 30px;
    border-radius: 7px;
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}



/*Common Color*/
.common-color {
    color: #1D4ED8;
    padding: 5px 0;
}

/*Start Nav Style*/
header {
    background-color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    list-style: none;
    align-items: center;
    text-align: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #575757;
    list-style: none;
    font-size: 20px;
}


/* Start Hero Section */

.hero-parent {
    background-image: url("./image/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-content {
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

.hero-content h2 {
    font-weight: bold;
    font-size: 80PX;
}

.hero-content p {
    color: #cac5c5;
    padding: 10px 0;
}

.hero-bot {
    margin-top: 350px;
    padding: 17px 40px;
    border-radius: 10px;
    font-size: 22px;
    border: 0px solid;
}

/*Start Speaker Section*/

.speaker-parent {
    padding: 70px 0;
    align-items: center;
}

.speaker-parent h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-card {
    background-color: rgb(241, 240, 236);
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

.card-content {
    padding: 15px 7px;
    text-align: left;
}

.card-content h3 {
    padding: 5px 0;
    color: #0D1B2A;
}

.card-content p {
    padding: 5px 0;
    color: #575757;
}

/*Start Secure Section*/

.secure-parent {
    padding: 80px 0;
}

.secure-content-h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 48px;
}

.secure-content-p {
    text-align: center;
    margin-bottom: 20px;
}

.secure-content-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 60px;
}

.pricing-same {
    background-color: rgb(145, 134, 98);
    border-radius: 10px;
    padding: 40px 15px;
    border: none;
}

.pricing-dif {
    background-color: #0D1B2A;
    border-radius: 10px;
    padding: 40px 15px;
    border: none;
}

.pricing-h5 {
    font-weight: bold;
    font-size: 20px;
    color: #d5dcf0;
}

.custom {
    color: #93C5FD;
}

.pricing-h2 {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.pricing-p {
    margin-bottom: 20px;
    color: #ddcdcd;
}

.secure-content-card ul {
    margin-top: 20px;
    list-style: none;
}

.secure-content-card ul li {
    padding: 3px 0;
    color: #FFFFFF;
}

/*Common Button-2*/

.common-bot2 {
    display: block;
    background-color: white;
    color: rgb(10, 7, 3);
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
}

.pro {
    background-color: blue;
    color: #FFFFFF;
}